@media only screen and (min-width: 400px) and (max-width: 480px) {
    html {
        font-size: 20px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 399px) {
    html {
        font-size: 18px;
    }
}

@media only screen and (min-width: 330px) and (max-width: 359px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 329px) {
    html {
        font-size: 14px;
    }
}

/* mobile narrow
  -------------------------------------------------------------------------- */
@media only screen and (max-width: 760px) {
    .section-10 ul {
        list-style-type: none;
    }
}

@media only screen and (max-width: 480px) {
    .section-1-content h1 {
        font-size: 2.4rem;
        font-weight: 700;
    }

    .section-1-content p {
        font-size: 1.7rem;
    }

    /* 汉堡菜单 */
    #nav-wrap {
        font: 12px 'opensans-bold', sans-serif;
        background: transparent !important;
        letter-spacing: 1px;
        width: auto;
        position: fixed;
        top: 0;
        right: 0;
    }

    #nav-wrap > a {
        width: 48px;
        height: 48px;
        text-align: left;
        background-color: #CC5200;
        position: relative;
        border: none;
        float: right;
        font: 0/0 a;
        text-shadow: none;
        color: transparent;
        top: 0;
        right: 30px;
    }

    #nav-wrap > a:before,
    #nav-wrap > a:after {
        position: absolute;
        border: 2px solid #fff;
        top: 35%;
        left: 25%;
        right: 25%;
        content: '';
    }

    #nav-wrap > a:after {
        top: 60%;
    }

    /* toggle buttons */
    #nav-wrap:not( :target ) > a:first-of-type,
    #nav-wrap:target > a:last-of-type {
        display: block;
    }

    /* hide menu panel */
    #nav-wrap ul#nav {
        height: auto;
        display: none;
        clear: both;
        width: auto;
        float: right;

        position: relative;
        top: 0;
        right: 0;
    }

    /* display menu panels */
    #nav-wrap:target > ul#nav {
        display: block;
        padding: 20px;
        background: #1f2024;
        margin: 0 30px;
        clear: both;
    }

    ul#nav li {
        display: block;
        height: auto;
        margin: 0 auto;
        padding: 0 4%;
        text-align: left;
        border-bottom: 1px solid #2D2E34;
        border-bottom-style: dotted;
    }

    ul#nav li a {
        display: block;
        padding: 0;
        margin: 12px 0;
        line-height: 16px; /* reset line-height from 48px */
        border: none;
    }

    .product-navi li {
        float: none;
    }

    .product-navi li:last-child:before {
        content: '';
        background-color: transparent;
    }

    .clock-botton {
        text-align: center;
    }

    /* 主体section部分 */
    .section-10 ul li {
        width: 100%;
        float: none;
    }

    .section-10 ul li:last-child {
        width: 100%;
    }

}

/* 划出的时钟 */
@media only screen and (max-width: 340px) {
    .slide-timer {
        right: -320px;
        width: 320px;
        font-size: 0.9rem;
    }

    .timer-list li {
        width: 160px;
        margin: 0 0 1rem 0.2rem;
    }
}








